*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

/** header **/

header {
    display: flex;
    padding: 20px;
}

.image {
    flex-grow: 1;
    text-align: center;
    align-self: center;
}

.heading {
    flex-grow: 2;
    text-align: center;
    align-self: center;
}

header .image img {
    height: 250px;
}

/** end header **/

/** nav **/

.nav {
    display: flex;
    justify-content: center;
}

.nav_item {
    list-style-type: none;
}

.nav_item a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-bottom: 3px solid white;
    transition: border-bottom .5s;
}

.nav_item a:hover {
    border-bottom: 3px solid black;
}

/** end nav **/