*,
*::before,
*::after{
    box-sizing: border-box;
}

:root {
    --font-size: 20px
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 36px;
}

p {
    font-size: var(--font-size);
}

li {
    line-height: 30px;
    font-size: var(--font-size);
}

a {
    font-size: var(--font-size);
    text-decoration: none;
    color: #000000;
}

/** header **/

header {
    display: flex;
    padding: 20px;
}

.image {
    flex-grow: 1;
    text-align: center;
    align-self: center;
}

.heading {
    flex-grow: 2;
    text-align: center;
    align-self: center;
}

header .image img {
    height: 250px;
}

/** end header **/

/** nav **/

.nav {
    display: flex;
    justify-content: center;
}

.nav_item {
    list-style-type: none;
}

.nav_item a {
    display: block;
    padding: 10px 20px;
    border-bottom: 3px solid #ffffff;
    transition: border-bottom .5s;
}

.nav_item a:hover {
    border-bottom: 3px solid black;
}

/** end nav **/

/** main **/

main {
    max-width: 1280px;
    margin: 40px auto;
}

main a:hover {
    color: #6c6c6c;
}

main a {
    font-weight: bold;
}

section {
    margin: 60px 40px;
}

.contacts_item {
    list-style-type: none;
}

.contacts_item i {
    padding-right: 10px;
}

.contacts_item span {
    font-weight: bold;
}

.code {
    background-color: #e2e2f0;
    border-left: 3px solid #000000;
    padding: 20px;
}



/** end main **/